# Data C102 Fall 2021 Final Project - Steven
My contributions to the final project.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style(style='darkgrid')
plt.style.use('ggplot')
%matplotlib inline

## Data cleaning
Code ~stolen~ adapted from the main project notebook

In [60]:
# Load data into DataFrames
asthma = pd.read_csv('data/asthma.csv')
pm25 = pd.read_csv('data/pm25.csv')
states = pd.read_csv('data/states.csv')
fips = pd.read_csv('https://gist.githubusercontent.com/dantonnoriega/bf1acd2290e15b91e6710b6fd3be0a53/raw/11d15233327c8080c9646c7e1f23052659db251d/us-state-ansi-fips.csv')
state_pops = pd.read_csv('data/nst-est2019-alldata.csv')

*For hypothesis testing*:

In [68]:
# Add divisions to the asthma data
asthma_divs = asthma.merge(states, left_on='LocationAbbr', right_on='State Code').drop(columns=['State', 'State Code'])
asthma_divs.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3,Region,Division
0,2012,2012,AL,Alabama,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,AST4_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN,South,East South Central
1,2014,2014,AL,Alabama,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,AST4_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN,South,East South Central
2,2015,2015,AL,Alabama,NVSS,Asthma,Asthma mortality rate,NaN,NaN,Number,...,AST4_1,NMBR,RACE,WHT,NaN,NaN,NaN,NaN,South,East South Central
3,2013,2013,AL,Alabama,NVSS,Asthma,Asthma mortality rate,NaN,"cases per 1,000,000",Crude Rate,...,AST4_1,CRDRATE,OVERALL,OVR,NaN,NaN,NaN,NaN,South,East South Central
4,2016,2016,AL,Alabama,NVSS,Asthma,Asthma mortality rate,NaN,"cases per 1,000,000",Age-adjusted Rate,...,AST4_1,AGEADJRATE,RACE,WHT,NaN,NaN,NaN,NaN,South,East South Central

In [71]:
# Query for overall age-adjusted prevalence
asthma_aap = asthma_states.query(
        'Question == "Current asthma prevalence among adults aged >= 18 years"' + 
        '& StratificationCategory1 == "Overall"' +
        '& DataValueType == "Age-adjusted Prevalence"' # Asthma prevalence is expressed as a percentage of the overall population
    )[['YearStart', 'LocationAbbr', 'LocationDesc', 'Division', 'DataValue']].rename(
        columns={'YearStart': 'year',
                 'LocationAbbr': 'state',
                 'LocationDesc': 'stname',
                 'Division': 'div',
                 'DataValue': 'aap'}
    ).reset_index().drop(columns='index')
asthma_aap.head()

   year state   stname                 div   aap
0  2019    AL  Alabama  East South Central   9.4
1  2015    AL  Alabama  East South Central   9.9
2  2017    AL  Alabama  East South Central  10.9
3  2013    AL  Alabama  East South Central   8.5
4  2011    AL  Alabama  East South Central   8.0

In [244]:
# Fill the only NA value with the average age-adjusted prevalence in NJ
NJ_aap_mean = round(asthma_aap.query('state == "NJ"').mean()['aap'], 1)
asthma_aap = asthma_aap.fillna(value={'aap': NJ_aap_mean})
asthma_aap.query('state == "NJ"')

     year state      stname              div  aap
351  2011    NJ  New Jersey  Middle Atlantic  9.0
352  2012    NJ  New Jersey  Middle Atlantic  8.8
353  2014    NJ  New Jersey  Middle Atlantic  8.3
354  2016    NJ  New Jersey  Middle Atlantic  8.2
355  2018    NJ  New Jersey  Middle Atlantic  8.4
356  2015    NJ  New Jersey  Middle Atlantic  7.3
357  2019    NJ  New Jersey  Middle Atlantic  8.4
358  2017    NJ  New Jersey  Middle Atlantic  8.4
359  2013    NJ  New Jersey  Middle Atlantic  9.0

In [265]:
# Calculate weighted average age-adjusted prevalence for each division
state_pop_means_df = pd.DataFrame( # Calculate mean population in each state over the years 2011-2019
        list(
            map(
                lambda x: [x[0], round(np.mean(x[1:]), 0)], 
                state_pops.query('SUMLEV == 40')[['NAME'] + list(state_pops.columns[8:17])].to_numpy()
            )
        )
    ).rename(columns={1: 'pop_mean'})

asthma_aap_pop_means = asthma_aap.merge(# Merge mean population with AAP DataFrame
        state_pop_means_df, 
        left_on='stname', 
        right_on=0
    ).drop(columns=0) 

asthma_aap_pop_means['asthma_est'] = (asthma_aap_pop_means['aap'] * asthma_aap_pop_means['pop_mean'] / 100).apply( # Calculate estimated number of people with asthma
        lambda x: round(x, 0)
    ) 

asthma_div_agg = asthma_aap_pop_means.groupby(# Add up the components for calculating the weighted averages
        ['year', 'div']
    )[['pop_mean', 'asthma_est']].sum() 

asthma_aap_div = (100 * asthma_div_agg['asthma_est'] / asthma_div_agg['pop_mean']).unstack( # Calculate the weighted averages
        level=0
    ) 

asthma_aap_div

year,2011,2012,2013,2014,2015,2016,2017,2018,2019
div,,,,,,,,,
East North Central,9.290029,9.508730,9.661071,10.304176,9.568443,9.647181,9.614669,9.716669,10.129544
East South Central,8.176904,8.692163,8.064242,9.501390,9.780204,10.318155,10.068209,10.204454,9.229796
Middle Atlantic,9.394450,9.376531,9.518467,9.935867,9.464911,9.592496,9.414532,9.703424,9.695541
Mountain,8.984050,8.666093,8.699489,8.952006,9.048255,9.064734,9.574572,9.306167,9.590992
New England,10.922441,10.708664,11.167393,11.080513,10.578117,10.763634,11.549736,10.813969,10.843975
Pacific,8.765354,9.065384,9.099978,8.166292,8.220279,8.286157,8.497671,8.903215,8.431108
South Atlantic,8.486177,8.349025,8.546645,8.285746,8.227076,8.092688,8.590490,9.069895,8.240776
West North Central,8.099535,8.648817,8.798916,8.808873,8.358533,8.469037,8.571469,8.817956,9.039054
West South Central,7.721947,7.347102,7.586650,7.200149,7.882669,8.004370,7.856245,8.062787,7.601606

*For causal inference*:

In [261]:
# Add state names to the PM2.5 data
pm25_states = pm25.merge(
        fips, 
        left_on='statefips', 
        right_on=' st'
    ).drop(
        columns=['ds_pm_stdd', 'statefips', ' st']
    ).rename(
        columns={' stusps': 'state'}
    )[['year', 'state', 'stname', 'ds_pm_pred']]
pm25_states.head()

   year state    stname  ds_pm_pred
0  2011    AL   Alabama   10.696324
1  2012    AL   Alabama   10.396601
2  2013    AL   Alabama   10.039805
3  2014    AL   Alabama   11.007064
4  2011    DE  Delaware    9.671609

In [264]:
# Merge AAP data with PM2.5 data
pm25_asthma = pm25_states.merge(
        asthma_aap,
        how='left',
        on=['year', 'stname']
    ).drop(
        columns='state_y'
    ).rename(
        columns={'state_x': 'state'}
    )[['year', 'state', 'div', 'ds_pm_pred', 'aap']]
pm25_asthma.head()

     year state                 div  ds_pm_pred   aap
0    2011    AL  East South Central   10.696324   8.0
1    2012    AL  East South Central   10.396601   8.5
2    2013    AL  East South Central   10.039805   8.5
3    2014    AL  East South Central   11.007064   9.5
4    2011    DE      South Atlantic    9.671609  10.0
..    ...   ...                 ...         ...   ...
191  2014    CO            Mountain    6.674491   8.3
192  2011    CT         New England    9.284398  10.1
193  2012    CT         New England    8.072119  10.1
194  2013    CT         New England    8.406929  10.0
195  2014    CT         New England    8.201116   9.3

[196 rows x 5 columns]

Old code:

In [131]:
asthma_aap_list = asthma_aap.sort_values(
        ['stname', 'year']
    ).groupby(
        'stname'
    ).agg(
        {'aap': list}
    ).reset_index().rename(
        columns={'aap': 'aaps'}
    ).merge(states, left_on='stname', right_on='State').drop(
        columns=['State', 'State Code', 'Region']
    ).rename(
        columns={'Division': 'div'}
    )[['stname', 'div', 'aaps']]

asthma_aap_list

,stname,div,aaps
0,Alabama,East South Central,"[8.0, 8.5, 8.5, 9.5, 9.9, 9.8, 10.9, 10.4, 9.4]"
1,Alaska,Pacific,"[8.5, 9.1, 9.4, 8.2, 9.3, 9.0, 8.4, 9.0, 9.7]"
2,Arizona,Mountain,"[9.6, 8.7, 8.9, 9.7, 9.3, 9.3, 9.7, 10.0, 9.8]"
3,Arkansas,West South Central,"[9.5, 8.7, 8.2, 8.7, 10.0, 8.5, 9.7, 9.8, 9.3]"
4,California,Pacific,"[8.4, 8.8, 8.7, 7.7, 7.6, 7.7, 7.8, 8.5, 7.8]"
5,Colorado,Mountain,"[8.3, 8.9, 8.7, 8.3, 9.1, 8.8, 9.3, 9.2, 9.7]"
6,Connecticut,New England,"[10.1, 10.1, 10.0, 9.3, 10.7, 10.6, 10.9, 10.1..."
7,Delaware,South Atlantic,"[10.0, 10.0, 10.7, 8.7, 9.0, 8.7, 10.5, 10.3, ..."
8,District of Columbia,South Atlantic,"[10.0, 10.1, 11.9, 11.3, 10.6, 10.1, 9.1, 11.8..."
9,Florida,South Atlantic,"[7.6, 8.1, 8.2, 8.0, 7.5, 6.7, 7.5, 8.7, 7.3]"
10,Georgia,South Atlantic,"[9.6, 8.1, 8.3, 8.2, 9.1, 8.5, 8.4, 8.9, 7.6]"
11,Hawaii,Pacific,"[9.5, 9.0, 9.5, 9.3, 10.1, 10.7, 9.9, 9.4, 9.7]"
12,Idaho,Mountain,"[9.2, 8.4, 8.7, 8.7, 9.0, 9.2, 9.0, 8.6, 9.9]"
13,Illinois,East North Central,"[8.1, 8.5, 7.5, 9.1, 8.4, 8.8, 8.2, 8.7, 8.3]"
14,Indiana,East North Central,"[9.6, 9.0, 10.2, 10.7, 10.1, 10.1, 10.0, 9.9, ..."
15,Iowa,West North Central,"[8.5, 8.0, 7.8, 8.5, 7.6, 7.8, 9.3, 7.9, 8.1]"
16,Kansas,West North Central,"[8.8, 8.5, 8.9, 8.7, 8.6, 8.6, 9.1, 9.8, 10.0]"
17,Kentucky,East South Central,"[10.3, 11.0, 9.3, 11.9, 12.0, 11.5, 10.6, 11.3..."
18,Louisiana,West South Central,"[6.4, 7.4, 7.7, 7.6, 8.1, 8.4, 9.0, 8.9, 7.8]"
19,Maine,New England,"[12.4, 11.3, 12.2, 11.9, 11.5, 12.7, 11.2, 12...."
20,Maryland,South Atlantic,"[8.4, 9.1, 9.5, 8.7, 8.8, 9.5, 9.6, 9.4, 9.1]"
21,Massachusetts,New England,"[10.8, 10.9, 11.5, 12.0, 10.2, 10.3, 11.4, 10...."
22,Michigan,East North Central,"[9.9, 10.4, 11.5, 10.9, 10.2, 11.1, 10.8, 11.4..."
23,Minnesota,West North Central,"[6.9, 8.0, 7.7, 8.5, 7.4, 7.7, 7.3, 8.3, 8.3]"
24,Mississippi,East South Central,"[7.7, 8.0, 8.1, 7.5, 7.8, 7.9, 8.3, 9.6, 9.8]"
25,Missouri,West North Central,"[9.1, 10.3, 10.9, 9.8, 9.8, 9.8, 9.4, 9.5, 10.2]"
26,Montana,Mountain,"[9.4, 9.5, 8.6, 9.8, 9.0, 8.4, 9.2, 10.1, 10.0]"
27,Nebraska,West North Central,"[7.3, 7.5, 7.3, 7.8, 7.2, 8.2, 8.2, 8.8, 8.1]"
28,Nevada,Mountain,"[8.0, 7.3, 7.5, 7.9, 8.1, 7.9, 10.4, 8.0, 9.3]"
29,New Hampshire,New England,"[11.2, 10.4, 10.8, 10.4, 10.5, 12.0, 13.5, 12...."
30,New Jersey,Middle Atlantic,"[9.0, 8.8, 9.0, 8.3, 7.3, 8.2, 8.4, 8.4, nan]"
31,New Mexico,Mountain,"[10.1, 9.2, 9.2, 10.0, 9.9, 11.9, 10.6, 9.6, 8.3]"
32,New York,Middle Atlantic,"[9.7, 9.1, 9.7, 10.7, 9.9, 9.5, 9.1, 10.1, 9.3]"
33,North Carolina,South Atlantic,"[8.8, 7.7, 8.4, 7.7, 8.1, 8.1, 9.1, 9.4, 8.2]"
34,North Dakota,West North Central,"[7.9, 7.6, 8.5, 8.9, 8.8, 9.1, 8.6, 8.3, 8.2]"
35,Ohio,East North Central,"[9.9, 10.6, 9.7, 10.9, 9.9, 9.7, 9.9, 9.6, 11.3]"
36,Oklahoma,West South Central,"[9.5, 10.1, 9.0, 9.8, 9.4, 10.0, 9.7, 10.4, 10.3]"
37,Oregon,Pacific,"[10.4, 10.5, 11.5, 10.4, 11.4, 10.6, 10.8, 11...."
38,Pennsylvania,Middle Atlantic,"[9.2, 10.2, 9.6, 9.9, 10.3, 10.7, 10.6, 10.0, ..."
39,Rhode Island,New England,"[12.0, 10.9, 11.9, 10.8, 11.1, 10.5, 12.3, 11...."
40,South Carolina,South Atlantic,"[8.2, 8.6, 8.5, 8.3, 8.1, 8.8, 9.0, 9.1, 9.6]"
41,South Dakota,West North Central,"[6.8, 7.4, 7.8, 7.4, 8.4, 6.0, 7.2, 7.8, 8.5]"
42,Tennessee,East South Central,"[7.1, 7.6, 6.9, 8.8, 9.1, 11.0, 9.9, 9.6, 8.8]"
43,Texas,West South Central,"[7.5, 6.8, 7.3, 6.6, 7.4, 7.6, 7.2, 7.4, 7.0]"
44,Utah,Mountain,"[8.7, 8.9, 9.0, 8.7, 9.0, 8.2, 8.8, 9.2, 9.8]"
45,Vermont,New England,"[11.4, 11.2, 11.6, 11.5, 11.3, 10.4, 12.2, 12...."
46,Virginia,South Atlantic,"[8.7, 8.6, 8.6, 8.6, 7.9, 8.5, 8.8, 8.5, 8.8]"
47,Washington,Pacific,"[9.7, 9.7, 9.8, 9.2, 9.3, 9.6, 10.7, 9.4, 9.9]"
48,West Virginia,South Atlantic,"[9.1, 10.3, 9.0, 11.0, 10.8, 11.8, 12.4, 12.1,..."
49,Wisconsin,East North Central,"[9.3, 8.6, 10.6, 10.3, 9.8, 8.4, 9.7, 9.1, 10.2]"
50,Wyoming,Mountain,"[9.1, 9.0, 9.1, 8.2, 7.7, 9.6, 9.2, 8.7, 9.5]"

In [117]:
NJ_means = asthma_aap_list.iloc[30, 1]
NJ_means[8] = round(np.mean(NJ_means[0:7]), 1)
asthma_aap_list

                  stname                                                aap
0                Alabama    [8.0, 8.5, 8.5, 9.5, 9.9, 9.8, 10.9, 10.4, 9.4]
1                 Alaska      [8.5, 9.1, 9.4, 8.2, 9.3, 9.0, 8.4, 9.0, 9.7]
2                Arizona     [9.6, 8.7, 8.9, 9.7, 9.3, 9.3, 9.7, 10.0, 9.8]
3               Arkansas     [9.5, 8.7, 8.2, 8.7, 10.0, 8.5, 9.7, 9.8, 9.3]
4             California      [8.4, 8.8, 8.7, 7.7, 7.6, 7.7, 7.8, 8.5, 7.8]
5               Colorado      [8.3, 8.9, 8.7, 8.3, 9.1, 8.8, 9.3, 9.2, 9.7]
6            Connecticut  [10.1, 10.1, 10.0, 9.3, 10.7, 10.6, 10.9, 10.1...
7               Delaware  [10.0, 10.0, 10.7, 8.7, 9.0, 8.7, 10.5, 10.3, ...
8   District of Columbia  [10.0, 10.1, 11.9, 11.3, 10.6, 10.1, 9.1, 11.8...
9                Florida      [7.6, 8.1, 8.2, 8.0, 7.5, 6.7, 7.5, 8.7, 7.3]
10               Georgia      [9.6, 8.1, 8.3, 8.2, 9.1, 8.5, 8.4, 8.9, 7.6]
11                Hawaii    [9.5, 9.0, 9.5, 9.3, 10.1, 10.7, 9.9, 9.4, 9.7]
12                 Idaho      [9.2, 8.4, 8.7, 8.7, 9.0, 9.2, 9.0, 8.6, 9.9]
13              Illinois      [8.1, 8.5, 7.5, 9.1, 8.4, 8.8, 8.2, 8.7, 8.3]
14               Indiana  [9.6, 9.0, 10.2, 10.7, 10.1, 10.1, 10.0, 9.9, ...
15                  Iowa      [8.5, 8.0, 7.8, 8.5, 7.6, 7.8, 9.3, 7.9, 8.1]
16                Kansas     [8.8, 8.5, 8.9, 8.7, 8.6, 8.6, 9.1, 9.8, 10.0]
17              Kentucky  [10.3, 11.0, 9.3, 11.9, 12.0, 11.5, 10.6, 11.3...
18             Louisiana      [6.4, 7.4, 7.7, 7.6, 8.1, 8.4, 9.0, 8.9, 7.8]
19                 Maine  [12.4, 11.3, 12.2, 11.9, 11.5, 12.7, 11.2, 12....
20              Maryland      [8.4, 9.1, 9.5, 8.7, 8.8, 9.5, 9.6, 9.4, 9.1]
21         Massachusetts  [10.8, 10.9, 11.5, 12.0, 10.2, 10.3, 11.4, 10....
22              Michigan  [9.9, 10.4, 11.5, 10.9, 10.2, 11.1, 10.8, 11.4...
23             Minnesota      [6.9, 8.0, 7.7, 8.5, 7.4, 7.7, 7.3, 8.3, 8.3]
24           Mississippi      [7.7, 8.0, 8.1, 7.5, 7.8, 7.9, 8.3, 9.6, 9.8]
25              Missouri   [9.1, 10.3, 10.9, 9.8, 9.8, 9.8, 9.4, 9.5, 10.2]
26               Montana    [9.4, 9.5, 8.6, 9.8, 9.0, 8.4, 9.2, 10.1, 10.0]
27              Nebraska      [7.3, 7.5, 7.3, 7.8, 7.2, 8.2, 8.2, 8.8, 8.1]
28                Nevada     [8.0, 7.3, 7.5, 7.9, 8.1, 7.9, 10.4, 8.0, 9.3]
29         New Hampshire  [11.2, 10.4, 10.8, 10.4, 10.5, 12.0, 13.5, 12....
30            New Jersey      [9.0, 8.8, 9.0, 8.3, 7.3, 8.2, 8.4, 8.4, 8.4]
31            New Mexico  [10.1, 9.2, 9.2, 10.0, 9.9, 11.9, 10.6, 9.6, 8.3]
32              New York    [9.7, 9.1, 9.7, 10.7, 9.9, 9.5, 9.1, 10.1, 9.3]
33        North Carolina      [8.8, 7.7, 8.4, 7.7, 8.1, 8.1, 9.1, 9.4, 8.2]
34          North Dakota      [7.9, 7.6, 8.5, 8.9, 8.8, 9.1, 8.6, 8.3, 8.2]
35                  Ohio   [9.9, 10.6, 9.7, 10.9, 9.9, 9.7, 9.9, 9.6, 11.3]
36              Oklahoma  [9.5, 10.1, 9.0, 9.8, 9.4, 10.0, 9.7, 10.4, 10.3]
37                Oregon  [10.4, 10.5, 11.5, 10.4, 11.4, 10.6, 10.8, 11....
38          Pennsylvania  [9.2, 10.2, 9.6, 9.9, 10.3, 10.7, 10.6, 10.0, ...
39          Rhode Island  [12.0, 10.9, 11.9, 10.8, 11.1, 10.5, 12.3, 11....
40        South Carolina      [8.2, 8.6, 8.5, 8.3, 8.1, 8.8, 9.0, 9.1, 9.6]
41          South Dakota      [6.8, 7.4, 7.8, 7.4, 8.4, 6.0, 7.2, 7.8, 8.5]
42             Tennessee     [7.1, 7.6, 6.9, 8.8, 9.1, 11.0, 9.9, 9.6, 8.8]
43                 Texas      [7.5, 6.8, 7.3, 6.6, 7.4, 7.6, 7.2, 7.4, 7.0]
44                  Utah      [8.7, 8.9, 9.0, 8.7, 9.0, 8.2, 8.8, 9.2, 9.8]
45               Vermont  [11.4, 11.2, 11.6, 11.5, 11.3, 10.4, 12.2, 12....
46              Virginia      [8.7, 8.6, 8.6, 8.6, 7.9, 8.5, 8.8, 8.5, 8.8]
47            Washington     [9.7, 9.7, 9.8, 9.2, 9.3, 9.6, 10.7, 9.4, 9.9]
48         West Virginia  [9.1, 10.3, 9.0, 11.0, 10.8, 11.8, 12.4, 12.1,...
49             Wisconsin   [9.3, 8.6, 10.6, 10.3, 9.8, 8.4, 9.7, 9.1, 10.2]
50               Wyoming      [9.1, 9.0, 9.1, 8.2, 7.7, 9.6, 9.2, 8.7, 9.5]

In [154]:
asthma_aap.value_counts('year')

year
2011    51
2012    51
2013    51
2014    51
2015    51
2016    51
2017    51
2018    51
2019    51
dtype: int64

In [134]:
state_pops.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 151 columns):
 #    Column                 Dtype
---   ------                 -----
 0    SUMLEV                 int64
 1    REGION                 object
 2    DIVISION               object
 3    STATE                  int64
 4    NAME                   object
 5    CENSUS2010POP          int64
 6    ESTIMATESBASE2010      int64
 7    POPESTIMATE2010        int64
 8    POPESTIMATE2011        int64
 9    POPESTIMATE2012        int64
 10   POPESTIMATE2013        int64
 11   POPESTIMATE2014        int64
 12   POPESTIMATE2015        int64
 13   POPESTIMATE2016        int64
 14   POPESTIMATE2017        int64
 15   POPESTIMATE2018        int64
 16   POPESTIMATE2019        int64
 17   NPOPCHG_2010           int64
 18   NPOPCHG_2011           int64
 19   NPOPCHG_2012           int64
 20   NPOPCHG_2013           int64
 21   NPOPCHG_2014           int64
 22   NPOPCHG_2015           int64
 23   NPOPCHG_2016           int64
 24   NPOPCHG_2017           int64
 25   NPOPCHG_2018           int64
 26   NPOPCHG_2019           int64
 27   BIRTHS2010             int64
 28   BIRTHS2011             int64
 29   BIRTHS2012             int64
 30   BIRTHS2013             int64
 31   BIRTHS2014             int64
 32   BIRTHS2015             int64
 33   BIRTHS2016             int64
 34   BIRTHS2017             int64
 35   BIRTHS2018             int64
 36   BIRTHS2019             int64
 37   DEATHS2010             int64
 38   DEATHS2011             int64
 39   DEATHS2012             int64
 40   DEATHS2013             int64
 41   DEATHS2014             int64
 42   DEATHS2015             int64
 43   DEATHS2016             int64
 44   DEATHS2017             int64
 45   DEATHS2018             int64
 46   DEATHS2019             int64
 47   NATURALINC2010         int64
 48   NATURALINC2011         int64
 49   NATURALINC2012         int64
 50   NATURALINC2013         int64
 51   NATURALINC2014         int64
 52   NATURALINC2015         int64
 53   NATURALINC2016         int64
 54   NATURALINC2017         int64
 55   NATURALINC2018         int64
 56   NATURALINC2019         int64
 57   INTERNATIONALMIG2010   int64
 58   INTERNATIONALMIG2011   int64
 59   INTERNATIONALMIG2012   int64
 60   INTERNATIONALMIG2013   int64
 61   INTERNATIONALMIG2014   int64
 62   INTERNATIONALMIG2015   int64
 63   INTERNATIONALMIG2016   int64
 64   INTERNATIONALMIG2017   int64
 65   INTERNATIONALMIG2018   int64
 66   INTERNATIONALMIG2019   int64
 67   DOMESTICMIG2010        int64
 68   DOMESTICMIG2011        int64
 69   DOMESTICMIG2012        int64
 70   DOMESTICMIG2013        int64
 71   DOMESTICMIG2014        int64
 72   DOMESTICMIG2015        int64
 73   DOMESTICMIG2016        int64
 74   DOMESTICMIG2017        int64
 75   DOMESTICMIG2018        int64
 76   DOMESTICMIG2019        int64
 77   NETMIG2010             int64
 78   NETMIG2011             int64
 79   NETMIG2012             int64
 80   NETMIG2013             int64
 81   NETMIG2014             int64
 82   NETMIG2015             int64
 83   NETMIG2016             int64
 84   NETMIG2017             int64
 85   NETMIG2018             int64
 86   NETMIG2019             int64
 87   RESIDUAL2010           int64
 88   RESIDUAL2011           int64
 89   RESIDUAL2012           int64
 90   RESIDUAL2013           int64
 91   RESIDUAL2014           int64
 92   RESIDUAL2015           int64
 93   RESIDUAL2016           int64
 94   RESIDUAL2017           int64
 95   RESIDUAL2018           int64
 96   RESIDUAL2019           int64
 97   RBIRTH2011             float64
 98   RBIRTH2012             float64
 99   RBIRTH2013             float64
 100  RBIRTH2014             float64
 101  RBIRTH2015             float64
 102  RBIRTH2016             float64
 103  RBIRTH2017             float64
 104  RBIRTH2018             float64
 105  RBIRTH2019             float64
 106  RDEATH2011             float64
 107  RDEATH2012             float64
 108  RDEATH2013             float64
 109  RDEATH2014             float64
 110  RDEATH2015             float64
 111  RDEATH2016             float64
 112  RDEATH2017             float64
 113  RDEATH2018             float64
 114  RDEATH2019             float64
 115  RNATURALINC2011        float64
 116  RNATURALINC2012        float64
 117  RNATURALINC2013        float64
 118  RNATURALINC2014        float64
 119  RNATURALINC2015        float64
 120  RNATURALINC2016        float64
 121  RNATURALINC2017        float64
 122  RNATURALINC2018        float64
 123  RNATURALINC2019        float64
 124  RINTERNATIONALMIG2011  float64
 125  RINTERNATIONALMIG2012  float64
 126  RINTERNATIONALMIG2013  float64
 127  RINTERNATIONALMIG2014  float64
 128  RINTERNATIONALMIG2015  float64
 129  RINTERNATIONALMIG2016  float64
 130  RINTERNATIONALMIG2017  float64
 131  RINTERNATIONALMIG2018  float64
 132  RINTERNATIONALMIG2019  float64
 133  RDOMESTICMIG2011       float64
 134  RDOMESTICMIG2012       float64
 135  RDOMESTICMIG2013       float64
 136  RDOMESTICMIG2014       float64
 137  RDOMESTICMIG2015       float64
 138  RDOMESTICMIG2016       float64
 139  RDOMESTICMIG2017       float64
 140  RDOMESTICMIG2018       float64
 141  RDOMESTICMIG2019       float64
 142  RNETMIG2011            float64
 143  RNETMIG2012            float64
 144  RNETMIG2013            float64
 145  RNETMIG2014            float64
 146  RNETMIG2015            float64
 147  RNETMIG2016            float64
 148  RNETMIG2017            float64
 149  RNETMIG2018            float64
 150  RNETMIG2019            float64
dtypes: float64(54), int64(94), object(3)
memory usage: 67.4+ KB

In [172]:
state_pops_list = state_pops.query('SUMLEV == 40').melt(
        id_vars='NAME', 
        value_vars=state_pops.columns[8:17]
    )[['NAME', 'value']].groupby('NAME').agg(list).reset_index().rename(
        columns={'NAME': 'stname', 'value': 'pops'}
    )
state_pops_list

                  stname                                               pops
0                Alabama  [4799069, 4815588, 4830081, 4841799, 4852347, ...
1                 Alaska  [722128, 730443, 737068, 736283, 737498, 74145...
2                Arizona  [6472643, 6554978, 6632764, 6730413, 6829676, ...
3               Arkansas  [2940667, 2952164, 2959400, 2967392, 2978048, ...
4             California  [37638369, 37948800, 38260787, 38596972, 38918...
5               Colorado  [5121108, 5192647, 5269035, 5350101, 5450623, ...
6            Connecticut  [3588283, 3594547, 3594841, 3594524, 3587122, ...
7               Delaware  [907381, 915179, 923576, 932487, 941252, 94892...
8   District of Columbia  [619800, 634924, 650581, 662328, 675400, 68581...
9                Florida  [19053237, 19297822, 19545621, 19845911, 20209...
10               Georgia  [9802431, 9901430, 9972479, 10067278, 10178447...
11                Hawaii  [1379329, 1394804, 1408243, 1414538, 1422052, ...
12                 Idaho  [1583910, 1595324, 1611206, 1631112, 1651059, ...
13              Illinois  [12867454, 12882510, 12895129, 12884493, 12858...
14               Indiana  [6516528, 6537703, 6568713, 6593644, 6608422, ...
15                  Iowa  [3066336, 3076190, 3092997, 3109350, 3120960, ...
16                Kansas  [2869225, 2885257, 2893212, 2900475, 2909011, ...
17              Kentucky  [4369821, 4386346, 4404659, 4414349, 4425976, ...
18             Louisiana  [4575625, 4600972, 4624527, 4644013, 4664628, ...
19                 Maine  [1328284, 1327729, 1328009, 1330513, 1328262, ...
20              Maryland  [5839419, 5886992, 5923188, 5957283, 5985562, ...
21         Massachusetts  [6613583, 6663005, 6713315, 6762596, 6794228, ...
22              Michigan  [9882412, 9897145, 9913065, 9929848, 9931715, ...
23             Minnesota  [5346143, 5376643, 5413479, 5451079, 5482032, ...
24           Mississippi  [2978731, 2983816, 2988711, 2990468, 2988471, ...
25              Missouri  [6010275, 6024367, 6040715, 6056202, 6071732, ...
26               Montana  [997316, 1003783, 1013569, 1021869, 1030475, 1...
27              Nebraska  [1840672, 1853303, 1865279, 1879321, 1891277, ...
28                Nevada  [2712730, 2743996, 2775970, 2817628, 2866939, ...
29         New Hampshire  [1320202, 1324232, 1326622, 1333341, 1336350, ...
30            New Jersey  [8828117, 8844942, 8856972, 8864525, 8867949, ...
31            New Mexico  [2080450, 2087309, 2092273, 2089568, 2089291, ...
32              New York  [19499241, 19572932, 19624447, 19651049, 19654...
33        North Carolina  [9657592, 9749476, 9843336, 9932887, 10031646,...
34          North Dakota  [685225, 701176, 722036, 737401, 754066, 75443...
35                  Ohio  [11544663, 11548923, 11576684, 11602700, 11617...
36              Oklahoma  [3788379, 3818814, 3853214, 3878187, 3909500, ...
37                Oregon  [3872036, 3899001, 3922468, 3963244, 4015792, ...
38          Pennsylvania  [12745815, 12767118, 12776309, 12788313, 12784...
39           Puerto Rico  [3678732, 3634488, 3593077, 3534874, 3473232, ...
40          Rhode Island  [1053649, 1054621, 1055081, 1055936, 1056065, ...
41        South Carolina  [4671994, 4717354, 4764080, 4823617, 4891938, ...
42          South Dakota  [823579, 833566, 842316, 849129, 853988, 86299...
43             Tennessee  [6399291, 6453898, 6494340, 6541223, 6591170, ...
44                 Texas  [25645629, 26084481, 26480266, 26964333, 27470...
45                  Utah  [2814384, 2853375, 2897640, 2936879, 2981835, ...
46               Vermont  [627049, 626090, 626210, 625214, 625216, 62365...
47              Virginia  [8101155, 8185080, 8252427, 8310993, 8361808, ...
48            Washington  [6826627, 6897058, 6963985, 7054655, 7163657, ...
49         West Virginia  [1856301, 1856872, 1853914, 1849489, 1842050, ...
50             Wisconsin  [5705288, 5719960, 5736754, 5751525, 5760940, ...
51               Wyoming  [567299, 576305, 582122, 582531, 585613, 58421...

In [175]:
asthma_aap_pops = asthma_aap_list.merge(state_pops_list, on='stname')
asthma_aap_pops

,stname,div,aaps,pops
0,Alabama,East South Central,"[8.0, 8.5, 8.5, 9.5, 9.9, 9.8, 10.9, 10.4, 9.4]","[4799069, 4815588, 4830081, 4841799, 4852347, ..."
1,Alaska,Pacific,"[8.5, 9.1, 9.4, 8.2, 9.3, 9.0, 8.4, 9.0, 9.7]","[722128, 730443, 737068, 736283, 737498, 74145..."
2,Arizona,Mountain,"[9.6, 8.7, 8.9, 9.7, 9.3, 9.3, 9.7, 10.0, 9.8]","[6472643, 6554978, 6632764, 6730413, 6829676, ..."
3,Arkansas,West South Central,"[9.5, 8.7, 8.2, 8.7, 10.0, 8.5, 9.7, 9.8, 9.3]","[2940667, 2952164, 2959400, 2967392, 2978048, ..."
4,California,Pacific,"[8.4, 8.8, 8.7, 7.7, 7.6, 7.7, 7.8, 8.5, 7.8]","[37638369, 37948800, 38260787, 38596972, 38918..."
5,Colorado,Mountain,"[8.3, 8.9, 8.7, 8.3, 9.1, 8.8, 9.3, 9.2, 9.7]","[5121108, 5192647, 5269035, 5350101, 5450623, ..."
6,Connecticut,New England,"[10.1, 10.1, 10.0, 9.3, 10.7, 10.6, 10.9, 10.1...","[3588283, 3594547, 3594841, 3594524, 3587122, ..."
7,Delaware,South Atlantic,"[10.0, 10.0, 10.7, 8.7, 9.0, 8.7, 10.5, 10.3, ...","[907381, 915179, 923576, 932487, 941252, 94892..."
8,District of Columbia,South Atlantic,"[10.0, 10.1, 11.9, 11.3, 10.6, 10.1, 9.1, 11.8...","[619800, 634924, 650581, 662328, 675400, 68581..."
9,Florida,South Atlantic,"[7.6, 8.1, 8.2, 8.0, 7.5, 6.7, 7.5, 8.7, 7.3]","[19053237, 19297822, 19545621, 19845911, 20209..."
10,Georgia,South Atlantic,"[9.6, 8.1, 8.3, 8.2, 9.1, 8.5, 8.4, 8.9, 7.6]","[9802431, 9901430, 9972479, 10067278, 10178447..."
11,Hawaii,Pacific,"[9.5, 9.0, 9.5, 9.3, 10.1, 10.7, 9.9, 9.4, 9.7]","[1379329, 1394804, 1408243, 1414538, 1422052, ..."
12,Idaho,Mountain,"[9.2, 8.4, 8.7, 8.7, 9.0, 9.2, 9.0, 8.6, 9.9]","[1583910, 1595324, 1611206, 1631112, 1651059, ..."
13,Illinois,East North Central,"[8.1, 8.5, 7.5, 9.1, 8.4, 8.8, 8.2, 8.7, 8.3]","[12867454, 12882510, 12895129, 12884493, 12858..."
14,Indiana,East North Central,"[9.6, 9.0, 10.2, 10.7, 10.1, 10.1, 10.0, 9.9, ...","[6516528, 6537703, 6568713, 6593644, 6608422, ..."
15,Iowa,West North Central,"[8.5, 8.0, 7.8, 8.5, 7.6, 7.8, 9.3, 7.9, 8.1]","[3066336, 3076190, 3092997, 3109350, 3120960, ..."
16,Kansas,West North Central,"[8.8, 8.5, 8.9, 8.7, 8.6, 8.6, 9.1, 9.8, 10.0]","[2869225, 2885257, 2893212, 2900475, 2909011, ..."
17,Kentucky,East South Central,"[10.3, 11.0, 9.3, 11.9, 12.0, 11.5, 10.6, 11.3...","[4369821, 4386346, 4404659, 4414349, 4425976, ..."
18,Louisiana,West South Central,"[6.4, 7.4, 7.7, 7.6, 8.1, 8.4, 9.0, 8.9, 7.8]","[4575625, 4600972, 4624527, 4644013, 4664628, ..."
19,Maine,New England,"[12.4, 11.3, 12.2, 11.9, 11.5, 12.7, 11.2, 12....","[1328284, 1327729, 1328009, 1330513, 1328262, ..."
20,Maryland,South Atlantic,"[8.4, 9.1, 9.5, 8.7, 8.8, 9.5, 9.6, 9.4, 9.1]","[5839419, 5886992, 5923188, 5957283, 5985562, ..."
21,Massachusetts,New England,"[10.8, 10.9, 11.5, 12.0, 10.2, 10.3, 11.4, 10....","[6613583, 6663005, 6713315, 6762596, 6794228, ..."
22,Michigan,East North Central,"[9.9, 10.4, 11.5, 10.9, 10.2, 11.1, 10.8, 11.4...","[9882412, 9897145, 9913065, 9929848, 9931715, ..."
23,Minnesota,West North Central,"[6.9, 8.0, 7.7, 8.5, 7.4, 7.7, 7.3, 8.3, 8.3]","[5346143, 5376643, 5413479, 5451079, 5482032, ..."
24,Mississippi,East South Central,"[7.7, 8.0, 8.1, 7.5, 7.8, 7.9, 8.3, 9.6, 9.8]","[2978731, 2983816, 2988711, 2990468, 2988471, ..."
25,Missouri,West North Central,"[9.1, 10.3, 10.9, 9.8, 9.8, 9.8, 9.4, 9.5, 10.2]","[6010275, 6024367, 6040715, 6056202, 6071732, ..."
26,Montana,Mountain,"[9.4, 9.5, 8.6, 9.8, 9.0, 8.4, 9.2, 10.1, 10.0]","[997316, 1003783, 1013569, 1021869, 1030475, 1..."
27,Nebraska,West North Central,"[7.3, 7.5, 7.3, 7.8, 7.2, 8.2, 8.2, 8.8, 8.1]","[1840672, 1853303, 1865279, 1879321, 1891277, ..."
28,Nevada,Mountain,"[8.0, 7.3, 7.5, 7.9, 8.1, 7.9, 10.4, 8.0, 9.3]","[2712730, 2743996, 2775970, 2817628, 2866939, ..."
29,New Hampshire,New England,"[11.2, 10.4, 10.8, 10.4, 10.5, 12.0, 13.5, 12....","[1320202, 1324232, 1326622, 1333341, 1336350, ..."
30,New Jersey,Middle Atlantic,"[9.0, 8.8, 9.0, 8.3, 7.3, 8.2, 8.4, 8.4, nan]","[8828117, 8844942, 8856972, 8864525, 8867949, ..."
31,New Mexico,Mountain,"[10.1, 9.2, 9.2, 10.0, 9.9, 11.9, 10.6, 9.6, 8.3]","[2080450, 2087309, 2092273, 2089568, 2089291, ..."
32,New York,Middle Atlantic,"[9.7, 9.1, 9.7, 10.7, 9.9, 9.5, 9.1, 10.1, 9.3]","[19499241, 19572932, 19624447, 19651049, 19654..."
33,North Carolina,South Atlantic,"[8.8, 7.7, 8.4, 7.7, 8.1, 8.1, 9.1, 9.4, 8.2]","[9657592, 9749476, 9843336, 9932887, 10031646,..."
34,North Dakota,West North Central,"[7.9, 7.6, 8.5, 8.9, 8.8, 9.1, 8.6, 8.3, 8.2]","[685225, 701176, 722036, 737401, 754066, 75443..."
35,Ohio,East North Central,"[9.9, 10.6, 9.7, 10.9, 9.9, 9.7, 9.9, 9.6, 11.3]","[11544663, 11548923, 11576684, 11602700, 11617..."
36,Oklahoma,West South Central,"[9.5, 10.1, 9.0, 9.8, 9.4, 10.0, 9.7, 10.4, 10.3]","[3788379, 3818814, 3853214, 3878187, 3909500, ..."
37,Oregon,Pacific,"[10.4, 10.5, 11.5, 10.4, 11.4, 10.6, 10.8, 11....","[3872036, 3899001, 3922468, 3963244, 4015792, ..."
38,Pennsylvania,Middle Atlantic,"[9.2, 10.2, 9.6, 9.9, 10.3, 10.7, 10.6, 10.0, ...","[12745815, 12767118, 12776309, 12788313, 12784..."
39,Rhode Island,New England,"[12.0, 10.9, 11.9, 10.8, 11.1, 10.5, 12.3, 11....","[1053649, 1054621, 1055081, 1055936, 1056065, ..."
40,South Carolina,South Atlantic,"[8.2, 8.6, 8.5, 8.3, 8.1, 8.8, 9.0, 9.1, 9.6]","[4671994, 4717354, 4764080, 4823617, 4891938, ..."
41,South Dakota,West North Central,"[6.8, 7.4, 7.8, 7.4, 8.4, 6.0, 7.2, 7.8, 8.5]","[823579, 833566, 842316, 849129, 853988, 86299..."
42,Tennessee,East South Central,"[7.1, 7.6, 6.9, 8.8, 9.1, 11.0, 9.9, 9.6, 8.8]","[6399291, 6453898, 6494340, 6541223, 6591170, ..."
43,Texas,West South Central,"[7.5, 6.8, 7.3, 6.6, 7.4, 7.6, 7.2, 7.4, 7.0]","[25645629, 26084481, 26480266, 26964333, 27470..."
44,Utah,Mountain,"[8.7, 8.9, 9.0, 8.7, 9.0, 8.2, 8.8, 9.2, 9.8]","[2814384, 2853375, 2897640, 2936879, 2981835, ..."
45,Vermont,New England,"[11.4, 11.2, 11.6, 11.5, 11.3, 10.4, 12.2, 12....","[627049, 626090, 626210, 625214, 625216, 62365..."
46,Virginia,South Atlantic,"[8.7, 8.6, 8.6, 8.6, 7.9, 8.5, 8.8, 8.5, 8.8]","[8101155, 8185080, 8252427, 8310993, 8361808, ..."
47,Washington,Pacific,"[9.7, 9.7, 9.8, 9.2, 9.3, 9.6, 10.7, 9.4, 9.9]","[6826627, 6897058, 6963985, 7054655, 7163657, ..."
48,West Virginia,South Atlantic,"[9.1, 10.3, 9.0, 11.0, 10.8, 11.8, 12.4, 12.1,...","[1856301, 1856872, 1853914, 1849489, 1842050, ..."
49,Wisconsin,East North Central,"[9.3, 8.6, 10.6, 10.3, 9.8, 8.4, 9.7, 9.1, 10.2]","[5705288, 5719960, 5736754, 5751525, 5760940, ..."
50,Wyoming,Mountain,"[9.1, 9.0, 9.1, 8.2, 7.7, 9.6, 9.2, 8.7, 9.5]","[567299, 576305, 582122, 582531, 585613, 58421..."

In [191]:
state_pop_means = asthma_aap_pops['pops'].apply(lambda x: int(round(np.mean(x), 0))).to_numpy()
asthma_aap_pops

,stname,div,aaps,pops,pop_mean
0,Alabama,East South Central,"[8.0, 8.5, 8.5, 9.5, 9.9, 9.8, 10.9, 10.4, 9.4]","[4799069, 4815588, 4830081, 4841799, 4852347, ...",4851973
1,Alaska,Pacific,"[8.5, 9.1, 9.4, 8.2, 9.3, 9.0, 8.4, 9.0, 9.7]","[722128, 730443, 737068, 736283, 737498, 74145...",734584
2,Arizona,Mountain,"[9.6, 8.7, 8.9, 9.7, 9.3, 9.3, 9.7, 10.0, 9.8]","[6472643, 6554978, 6632764, 6730413, 6829676, ...",6849144
3,Arkansas,West South Central,"[9.5, 8.7, 8.2, 8.7, 10.0, 8.5, 9.7, 9.8, 9.3]","[2940667, 2952164, 2959400, 2967392, 2978048, ...",2979608
4,California,Pacific,"[8.4, 8.8, 8.7, 7.7, 7.6, 7.7, 7.8, 8.5, 7.8]","[37638369, 37948800, 38260787, 38596972, 38918...",38762489
5,Colorado,Mountain,"[8.3, 8.9, 8.7, 8.3, 9.1, 8.8, 9.3, 9.2, 9.7]","[5121108, 5192647, 5269035, 5350101, 5450623, ...",5442737
6,Connecticut,New England,"[10.1, 10.1, 10.0, 9.3, 10.7, 10.6, 10.9, 10.1...","[3588283, 3594547, 3594841, 3594524, 3587122, ...",3583062
7,Delaware,South Atlantic,"[10.0, 10.0, 10.7, 8.7, 9.0, 8.7, 10.5, 10.3, ...","[907381, 915179, 923576, 932487, 941252, 94892...",940540
8,District of Columbia,South Atlantic,"[10.0, 10.1, 11.9, 11.3, 10.6, 10.1, 9.1, 11.8...","[619800, 634924, 650581, 662328, 675400, 68581...",670117
9,Florida,South Atlantic,"[7.6, 8.1, 8.2, 8.0, 7.5, 6.7, 7.5, 8.7, 7.3]","[19053237, 19297822, 19545621, 19845911, 20209...",20250086
10,Georgia,South Atlantic,"[9.6, 8.1, 8.3, 8.2, 9.1, 8.5, 8.4, 8.9, 7.6]","[9802431, 9901430, 9972479, 10067278, 10178447...",10195871
11,Hawaii,Pacific,"[9.5, 9.0, 9.5, 9.3, 10.1, 10.7, 9.9, 9.4, 9.7]","[1379329, 1394804, 1408243, 1414538, 1422052, ...",1411931
12,Idaho,Mountain,"[9.2, 8.4, 8.7, 8.7, 9.0, 9.2, 9.0, 8.6, 9.9]","[1583910, 1595324, 1611206, 1631112, 1651059, ...",1667812
13,Illinois,East North Central,"[8.1, 8.5, 7.5, 9.1, 8.4, 8.8, 8.2, 8.7, 8.3]","[12867454, 12882510, 12895129, 12884493, 12858...",12820305
14,Indiana,East North Central,"[9.6, 9.0, 10.2, 10.7, 10.1, 10.1, 10.0, 9.9, ...","[6516528, 6537703, 6568713, 6593644, 6608422, ...",6616123
15,Iowa,West North Central,"[8.5, 8.0, 7.8, 8.5, 7.6, 7.8, 9.3, 7.9, 8.1]","[3066336, 3076190, 3092997, 3109350, 3120960, ...",3115827
16,Kansas,West North Central,"[8.8, 8.5, 8.9, 8.7, 8.6, 8.6, 9.1, 9.8, 10.0]","[2869225, 2885257, 2893212, 2900475, 2909011, ...",2900157
17,Kentucky,East South Central,"[10.3, 11.0, 9.3, 11.9, 12.0, 11.5, 10.6, 11.3...","[4369821, 4386346, 4404659, 4414349, 4425976, ...",4424492
18,Louisiana,West South Central,"[6.4, 7.4, 7.7, 7.6, 8.1, 8.4, 9.0, 8.9, 7.8]","[4575625, 4600972, 4624527, 4644013, 4664628, ...",4640772
19,Maine,New England,"[12.4, 11.3, 12.2, 11.9, 11.5, 12.7, 11.2, 12....","[1328284, 1327729, 1328009, 1330513, 1328262, ...",1332444
20,Maryland,South Atlantic,"[8.4, 9.1, 9.5, 8.7, 8.8, 9.5, 9.6, 9.4, 9.1]","[5839419, 5886992, 5923188, 5957283, 5985562, ...",5966791
21,Massachusetts,New England,"[10.8, 10.9, 11.5, 12.0, 10.2, 10.3, 11.4, 10....","[6613583, 6663005, 6713315, 6762596, 6794228, ...",6778362
22,Michigan,East North Central,"[9.9, 10.4, 11.5, 10.9, 10.2, 11.1, 10.8, 11.4...","[9882412, 9897145, 9913065, 9929848, 9931715, ...",9938755
23,Minnesota,West North Central,"[6.9, 8.0, 7.7, 8.5, 7.4, 7.7, 7.3, 8.3, 8.3]","[5346143, 5376643, 5413479, 5451079, 5482032, ...",5489359
24,Mississippi,East South Central,"[7.7, 8.0, 8.1, 7.5, 7.8, 7.9, 8.3, 9.6, 9.8]","[2978731, 2983816, 2988711, 2990468, 2988471, ...",2984868
25,Missouri,West North Central,"[9.1, 10.3, 10.9, 9.8, 9.8, 9.8, 9.4, 9.5, 10.2]","[6010275, 6024367, 6040715, 6056202, 6071732, ...",6072905
26,Montana,Mountain,"[9.4, 9.5, 8.6, 9.8, 9.0, 8.4, 9.2, 10.1, 10.0]","[997316, 1003783, 1013569, 1021869, 1030475, 1...",1032200
27,Nebraska,West North Central,"[7.3, 7.5, 7.3, 7.8, 7.2, 8.2, 8.2, 8.8, 8.1]","[1840672, 1853303, 1865279, 1879321, 1891277, ...",1890160
28,Nevada,Mountain,"[8.0, 7.3, 7.5, 7.9, 8.1, 7.9, 10.4, 8.0, 9.3]","[2712730, 2743996, 2775970, 2817628, 2866939, ...",2879136
29,New Hampshire,New England,"[11.2, 10.4, 10.8, 10.4, 10.5, 12.0, 13.5, 12....","[1320202, 1324232, 1326622, 1333341, 1336350, ...",1338335
30,New Jersey,Middle Atlantic,"[9.0, 8.8, 9.0, 8.3, 7.3, 8.2, 8.4, 8.4, nan]","[8828117, 8844942, 8856972, 8864525, 8867949, ...",8865230
31,New Mexico,Mountain,"[10.1, 9.2, 9.2, 10.0, 9.9, 11.9, 10.6, 9.6, 8.3]","[2080450, 2087309, 2092273, 2089568, 2089291, ...",2090208
32,New York,Middle Atlantic,"[9.7, 9.1, 9.7, 10.7, 9.9, 9.5, 9.1, 10.1, 9.3]","[19499241, 19572932, 19624447, 19651049, 19654...",19578805
33,North Carolina,South Atlantic,"[8.8, 7.7, 8.4, 7.7, 8.1, 8.1, 9.1, 9.4, 8.2]","[9657592, 9749476, 9843336, 9932887, 10031646,...",10056406
34,North Dakota,West North Central,"[7.9, 7.6, 8.5, 8.9, 8.8, 9.1, 8.6, 8.3, 8.2]","[685225, 701176, 722036, 737401, 754066, 75443...",736602
35,Ohio,East North Central,"[9.9, 10.6, 9.7, 10.9, 9.9, 9.7, 9.9, 9.6, 11.3]","[11544663, 11548923, 11576684, 11602700, 11617...",11616662
36,Oklahoma,West South Central,"[9.5, 10.1, 9.0, 9.8, 9.4, 10.0, 9.7, 10.4, 10.3]","[3788379, 3818814, 3853214, 3878187, 3909500, ...",3889216
37,Oregon,Pacific,"[10.4, 10.5, 11.5, 10.4, 11.4, 10.6, 10.8, 11....","[3872036, 3899001, 3922468, 3963244, 4015792, ...",4033974
38,Pennsylvania,Middle Atlantic,"[9.2, 10.2, 9.6, 9.9, 10.3, 10.7, 10.6, 10.0, ...","[12745815, 12767118, 12776309, 12788313, 12784...",12781690
39,Rhode Island,New England,"[12.0, 10.9, 11.9, 10.8, 11.1, 10.5, 12.3, 11....","[1053649, 1054621, 1055081, 1055936, 1056065, ...",1056160
40,South Carolina,South Atlantic,"[8.2, 8.6, 8.5, 8.3, 8.1, 8.8, 9.0, 9.1, 9.6]","[4671994, 4717354, 4764080, 4823617, 4891938, ...",4897899
41,South Dakota,West North Central,"[6.8, 7.4, 7.8, 7.4, 8.4, 6.0, 7.2, 7.8, 8.5]","[823579, 833566, 842316, 849129, 853988, 86299...",855755
42,Tennessee,East South Central,"[7.1, 7.6, 6.9, 8.8, 9.1, 11.0, 9.9, 9.6, 8.8]","[6399291, 6453898, 6494340, 6541223, 6591170, ...",6603948
43,Texas,West South Central,"[7.5, 6.8, 7.3, 6.6, 7.4, 7.6, 7.2, 7.4, 7.0]","[25645629, 26084481, 26480266, 26964333, 27470...",27386555
44,Utah,Mountain,"[8.7, 8.9, 9.0, 8.7, 9.0, 8.2, 8.8, 9.2, 9.8]","[2814384, 2853375, 2897640, 2936879, 2981835, ...",2998503
45,Vermont,New England,"[11.4, 11.2, 11.6, 11.5, 11.3, 10.4, 12.2, 12....","[627049, 626090, 626210, 625214, 625216, 62365...",625125
46,Virginia,South Atlantic,"[8.7, 8.6, 8.6, 8.6, 7.9, 8.5, 8.8, 8.5, 8.8]","[8101155, 8185080, 8252427, 8310993, 8361808, ...",8346885
47,Washington,Pacific,"[9.7, 9.7, 9.8, 9.2, 9.3, 9.6, 10.7, 9.4, 9.9]","[6826627, 6897058, 6963985, 7054655, 7163657, ...",7195875
48,West Virginia,South Atlantic,"[9.1, 10.3, 9.0, 11.0, 10.8, 11.8, 12.4, 12.1,...","[1856301, 1856872, 1853914, 1849489, 1842050, ...",1833677
49,Wisconsin,East North Central,"[9.3, 8.6, 10.6, 10.3, 9.8, 8.4, 9.7, 9.1, 10.2]","[5705288, 5719960, 5736754, 5751525, 5760940, ...",5763013
50,Wyoming,Mountain,"[9.1, 9.0, 9.1, 8.2, 7.7, 9.6, 9.2, 8.7, 9.5]","[567299, 576305, 582122, 582531, 585613, 58421...",579264